@model IEnumerable<ProyectoFinal_natalinviquez.Models.Maquina>
@{
    ViewData["Title"] = "Lista de maquinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row" style="margin-left:auto;  margin-right: auto;">
        <img src="@Url.Content("https://www.ceupe.mx/images/easyblog_articles/305/Imagen-1.jpg")" width="532px" style="margin-left:auto;  margin-right: auto;" alt="imgf"/> 
    </div>
    <hr />

    <div class="row">

        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="ListaMaquinas" asp-controller="Maquinas">Ver maquinas</a>
        </div>

         <div class="col-sm-6">
            <a class="btn btn-success d-block" name="accion" asp-action="CreateMaquina" asp-controller="Maquinas">Agregar maquina</a>
        </div>
    </div>


     <div class="row">

     

    </div>
</div>