
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="@Url.Content("https://editme.co.za/wp-content/uploads/2016/05/loader.gif")" alt="imgf"/> 
</div>
